.especificacoes{
    max-width: 96rem;
    box-sizing: border-box;
    padding: 0 1.25rem;
    margin: 0 auto;
    margin-bottom: 70px;

    .title{
        font-size: 21px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #1A1A1A;
    }
    
    .description{
        font-size: 12px;
        font-weight: 400;
        color: #0f0f0f;
    }
}
